:root {
    --main-ui-color: #151515;
    --main-text-color: #b3b3b3;
    --main-secondary-ui-color: #242424;
    --main-button-color: #383838;
    --main-button-color: #494949;
    --main-font: 'roboto', sans-serif;
}